* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	font-family: "Segoe UI";
    width: 1920px;
    height: 1080px;
    background-image: url(../images/sky.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    margin : 0 auto;
    display: block;
}
header{
    display: flex; 
    align-items: center;
    justify-content: right;
   margin-bottom: 100px;
}
header img {
    position: relative;
     height: 100px;
}
nav {
    display: flex; 
    align-items: center;
    justify-content: center; 
}

.creercompte {
    margin-left: 90px;
    text-align: right;
    color: white;
    list-style: none;
    font-size: 1.5rem;
}
.creercompte a {
    color: white;
}

.creation_compte_seco{   
    text-align: right;
    color: white;
    list-style: none;
    font-size: 1.5rem;
    margin-left:160px;
}

.creation_compte_seco a {
    color: white;  
}
.creation_compte{
    margin-top: 15px;
    display: flex;
    justify-content: center; 
    background-color: rgba(0,0,0,0.5);
    padding : 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    height: 400px;
    width: 500px;
    margin-left: 520px;
}
.creation_compte p {
    color: white;
    margin-bottom: 5px;
    font-size: 1.2rem;
}
.creation_compte input {
    margin-bottom: 15px;
}
.champs_creation_compte{
    height: 35px;
    width: 345px;
    border: none;
    background-color: white;
    opacity: 0.5;
    color: gray;
    margin-bottom: 15px;
}
.avatar_creation_compte{
    height: 35px;
    width: 345px;
    color: white;
    border-radius: 20px;
}
.creation_compte input[type=file]{
    color: white;
   /*modif direct dans le htmlpour le "parcourir"*/
}
.valider_creation_compte {
    font-size: 1rem;
    color: white;
    background-color: black;
    opacity: 0.5;
    border-radius: 8px;
    width: 80px;
    height: 33px;
    border: none;
    margin-left: 265px;
}

.connexion {
    margin-top: 50px;
    display: flex;
    justify-content: center;  
    background-color: rgba(0,0,0,0.5);
    padding : 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    height: 280px;
    width: 500px;
    margin-left: 520px;
}

.connexion p {
    font-size: 1rem;
    padding: 15px 0px;
    color: white;
}
.champs {
    margin-bottom: 10px;
    border: none;
    background-color: white;
    opacity: 0.5;
    color: gray;
    height: 35px;
    width: 345px;
}
.valider {
    font-size: 1rem;
    color: white;
    background-color: black;
    opacity: 0.5;
    border-radius: 8px;
    width: 80px;
    height: 33px;
    border: none;
    margin-left: 265px;
}

.deconnexion  a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}
.deconnexion{
    list-style: none;
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.deconnexion a:hover {
    color: #828282;
}
.img_avatar {
    position: absolute;
    height: 200px;
    border-radius: 50%; 
    left: 150px;
    top: 20px;
    background-color: white;
}
.crayon_avatar{
    position: absolute;
    height: 50px;
    top: 200px;
    left: 360px;
}

.fond_avatar {
    position: absolute;
    height: 760px;
    width: 500px;
    left: 0;
    top: 0;
}
.profil_avatar{
    height: 50px;
    position: absolute;
    top: 230px;
    left: 180px;
}
.profil_nom{
    position: absolute;
    top: 250px;
    left: 230px;
    color: white;
}
.profil_nom:hover {
    color: #f04a3e;
}
.profil_nom span { 
    position: absolute;
    margin-top:-10px;
    margin-left:25px;
    color:#f04a3e;
    background:#2d4a50;
    border: none;
    padding:10px;
    width: 100px;
    border-radius:3px;
    box-shadow:5px 5px 5px rgba(0,0,0,.5);
    transform:scale(0) rotate(-12deg);
    transition:all .25s;
    opacity:0;
}
.profil_nom:hover  span,
.profil_nom:focus  span {
    transform:scale(1) rotate(0);   
     opacity:1;
}
.bonjour{
    list-style: none;
    color: white;
    position: absolute;
    top:30px;
    left: 820px;
    font-size: 1.5rem;
}
.invit {
    position: absolute;
    list-style: none;
    top : 200px;
    left: 1100px;
}

.invit a {
    text-decoration: none;
    color: white;
}
.invit a:hover{
    color: lightskyblue;
    opacity: 0.5;
}
.invit_recues {
    position: absolute;
    list-style: none;
    top : 350px;
    left: 1100px;
}

.invit_recues a {
    text-decoration: none;
    color: white;
}
.invit_recues a:hover{
    color: lightskyblue;
    opacity: 0.5;
}

.vos_amis {
    list-style: none;
}

.vos_amis a {
    text-decoration: none;
    color: white;
}
.vos_amis a:hover{
    color: lightskyblue;
    opacity: 0.5;
}

.amis_fleche {
    position: absolute;
    height: 70px;
    top: 190px;
    margin-left: -40px;
    /*transform: rotate(45deg);*/
    transition: all 0.7s;
}
.amis_fleche:hover,
.amis_fleche:focus {
    transform: rotate(360deg);
}
.mes_posts p{
    color: white;
    margin-bottom: 15px;
}
.mes_posts {
    position: absolute;
    top : 350px;
    display: flex;
    justify-content: center; 
}
.champs_posts {
    margin-bottom: 15px;
    border: none;
    background-color: royalblue;
    opacity: 0.5;
    color: white;
    height: 30px;
    width: 300px;
    border-radius: 20px;
}
.valider_posts {
    font-size: 1rem;
    color: white;
    background-color: black;
    opacity: 0.5;
    border-radius: 20px;
    width: 80px;
    height: 33px;
    border: none;
}

.post_publier {
    background-color: white;
    width : 300px; 
    position: absolute;
    top: 550px; 
    opacity: 0.5;
    border-radius: 5px;
    padding: 5px;
}
.post_publier img {
    height: 40px;
}
.post_publier p {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 0.7rem;
}
.img_publi {
    height: 35px;
    width: 345px;
    color: white;
    border-radius: 20px;
}


.erreur_404{
    color: white;
    font-size: 5rem;
}
.page_erreur {
    list-style: none;
    color: white;
    text-align: center;
}
.page_erreur img{
    height: 400px;
}







/*responsive pour galaxy S9 et android 7.0*/
@media screen and (max-width : 360px) {
    body {
    width: 360px;
    height: 740px;
    }
    .creercompte {
        font-size: 1rem;
    }
    nav {
    display: flex; 
    align-items: center;
    justify-content: center; 
}
    .connexion {
        height: 150px;
        width: 300px;
        display: flex;
        justify-content: center;
        margin-left: 30px;
    }
    .champs {
        width: 200px;
        height: 20px;
        margin-top: -50px;
        margin-left: 50px;
    }
}



footer{
   
}