* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	font-family: "Segoe UI";
    width: 1920px;
    height: 1080px;
    background-image: url(../images/sky.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    margin : 0 auto;
    display: block;
}
header{
    display: flex; 
    align-items: center;
    justify-content: right;
   margin-bottom: 70px;
}
header img {
    position: relative;
     height: 100px;
}
nav {
    display: flex; 
    align-items: center;
    justify-content: center; 
}
/*PAGE DE CREATION DU COMPTE*/

.creation_compte_seco{   
    text-align: right;
    color: white;
    list-style: none;
    font-size: 1.5rem;
    margin-left:160px;
}

.creation_compte_seco a {
    color: white;  
}
.creation_compte_seco a:hover{
    color: #828282;
}
.creation_compte{
    margin-top: 15px;
    display: flex;
    justify-content: center; 
    background-color: rgba(0,0,0,0.5);
    padding : 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    height: 400px;
    width: 500px;
    margin-left: 450px;
}
.creation_compte p {
    color: white;
    margin-bottom: 5px;
    font-size: 1.2rem;
}
.creation_compte input {
    margin-bottom: 15px;
}
.champs_creation_compte{
    height: 35px;
    width: 345px;
    border: none;
    background-color: white;
    opacity: 0.5;
    color: gray;
    margin-bottom: 15px;
}
.avatar_creation_compte{
    height: 35px;
    width: 345px;
    color: white;
    border-radius: 20px;
}
.creation_compte input[type=file]{
    color: white;
   /*modif direct dans le htmlpour le "parcourir"*/
}
.valider_creation_compte {
    font-size: 1rem;
    color: white;
    background-color: black;
    opacity: 0.5;
    border-radius: 8px;
    width: 80px;
    height: 33px;
    border: none;
    margin-left: 265px;
}

/*PAGE DE CONNEXION A SON COMPTE*/
.creercompte {
    margin-left: 90px;
    text-align: right;
    color: white;
    list-style: none;
    font-size: 1.5rem;
}
.creercompte a {
    color: white;
}
.creercompte a:hover {
    color: #828282;
}
.connexion {
    margin-top: 50px;
    display: flex;
    justify-content: center;  
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    padding : 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    height: 280px;
    width: 500px;
    margin-left: 450px;
}

.connexion p {
    font-size: 1rem;
    padding: 15px 0px;
    color: white;
}
.champs {
    margin-bottom: 10px;
    border: none;
    background-color: white;
    opacity: 0.5;
    color: gray;
    height: 35px;
    width: 345px;
}
.valider {
    font-size: 1rem;
    color: white;
    background-color: black;
    opacity: 0.5;
    border-radius: 8px;
    width: 80px;
    height: 33px;
    border: none;
    margin-left: 265px;
}



/*PAGE DU MUR DE LA PERSONNE CONNECTE*/ 
.deconnexion  a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}
.deconnexion{
    list-style: none;
    position: absolute;
    bottom:100px;
    left: 20px; 
}

.deconnexion a:hover {
    color: #828282;
}
.accueil a{
     color: white;
    font-size: 1.2rem;
    text-decoration: none; 
}
.accueil {
    list-style: none;
    position: absolute;
    bottom:130px;
    left: 20px; 
}
.accueil a:hover{
    color: #828282;
}
.img_avatar {
    position: absolute;
    height: 200px;
    border-radius: 50%; 
    left: 150px;
    top: 20px;
    background-color: white;
}
.crayon_avatar{
    position: absolute;
    height: 50px;
    top: 200px;
    left: 360px;
}

.fond_avatar {
    background-image: url(../images/sky-03.jpg);
    position: absolute;
    background-size: cover;
    height: 760px;
    width: 500px;
    margin: 0;
    left: 0;
    top: 0;
    position: fixed;
    background-attachment: scroll;
}
.fond_avatar_responsive {
    display: none;
}

.profil_avatar{
    height: 50px;
    position: absolute;
    top: 230px;
    left: 180px;
}
.profil_nom{
    position: absolute;
    top: 250px;
    left: 230px;
    color: white;
}
.profil_nom:hover {
    color: #f04a3e;
}
.profil_nom span { 
    position: absolute;
    margin-top:-10px;
    margin-left:25px;
    color:#f04a3e;
    background:#2d4a50;
    border: none;
    padding:10px;
    width: 100px;
    border-radius:3px;
    box-shadow:5px 5px 5px rgba(0,0,0,.5);
    transform:scale(0) rotate(-12deg);
    transition:all .25s;
    opacity:0;
}
.profil_nom:hover  span,
.profil_nom:focus  span {
    transform:scale(1) rotate(0);   
     opacity:1;
}
.bonjour{
    list-style: none;
    color: white;
    position: absolute;
    top:30px;
    left: 820px;
    font-size: 1.5rem;
}

/*ELEMENTS COMPOSANT LE MUR*/

#mon_mur {
    margin-left: 550px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 150px;
    grid-template-areas: 
        "m1 m2"
        "m3 m4";
}

.invit {
    grid-area: m2;  
    list-style: none;
}

.invit a {
    text-decoration: none;
    color: white;
}
.invit a:hover{
    color: lightskyblue;
    opacity: 0.5;
}
.invit_recues {
    grid-area: m4;
    list-style: none;
}

.invit_recues a {
    text-decoration: none;
    color: white;
}
.invit_recues a:hover{
    color: lightskyblue;
    opacity: 0.5;
}

.vos_amis {
    grid-area: m1;
    list-style: none;
}

.vos_amis a {
    text-decoration: none;
    color: white;
}
.vos_amis a:hover{
    color: lightskyblue;
    opacity: 0.5;
}

.amis_fleche {
    position: absolute;
    height: 70px;
    /*top: 190px;
    margin-left: -40px;*/
    /*transform: rotate(45deg);*/
    transition: all 0.7s;
}
.amis_fleche:hover,
.amis_fleche:focus {
    transform: rotate(360deg);
}

/*sur les amis*/
.demander_ami {
    background-color: black;
    border: none;
    opacity: 0.5;
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 20px;
}
.demander_ami:hover{
    transition-duration: 0.5s;
    background-color: white;
    color: black;
}
.demande_attente {
    background-color: black;
    border: none;
    opacity: 0.5;
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 20px;
}
.demande_attente:hover{
    transition-duration: 0.5s;
    background-color: white;
    color: black;
}

.demande_accepter {
    background-color: black;
    border: none;
    opacity: 0.5;
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 20px;
}
.demande_accepter:hover{
    transition-duration: 0.5s;
    background-color: white;
    color: black;
}

.bouton_ami {
   background-color: black;
    border: none;
    opacity: 0.5;
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 20px; 
}
.bouton_ami:hover{
     transition-duration: 0.5s;
    background-color: white;
    color: black;
}



/*POSSIBILITE DE POSTER SUR SON MUR*/
.mes_posts p{
    color: white;
    margin-bottom: 15px;
}
.mes_posts {
    grid-area: m3;
}
.champs_posts {
    margin-bottom: 15px;
    border: none;
    background-color: #2b4449;
    opacity: 0.5;
    color: white;
    height: 30px;
    width: 300px;
    border-radius: 20px;
}
.valider_posts {
    font-size: 1rem;
    color: white;
    background-color: black;
    opacity: 0.5;
    border-radius: 20px;
    width: 80px;
    height: 33px;
    border: none;
    margin-left: 220px;
}
.valider_posts:hover{
    background-color: white;
    color: black;
}

/*POSTS PUBLIER*/
.post_publier { 
    margin: 20px;
    background-color: white;
    width : 300px; 
    opacity: 0.5;
    border-radius: 5px;
    padding: 5px;
}
.post_publier img {
    height: 40px;
}
.post_publier p {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 0.7rem;
}
.post_publier a {
    text-decoration: none;
    color: #2b4448;
}
.img_publi {
    height: 35px;
    width: 345px;
    color: white;
    border-radius: 20px;
}

/*pour trouver un ami*/

.search {
    position: absolute;
    top: 100px;
    right: 5px;
}
.search input{
    background-color: #9c4a3e;
    border: none;
    border-radius: 30px;
    opacity: 0.5;
    height: 25px;
    width: 200px;

}
.search input:hover {
    color: white;
}
.search button {
    background-color: white;
    opacity: 0.5;
    border: none;
    border-radius: 10px;
    height: 30px;

}
.search button:hover{
    background-color: black;
    color: white;
}
.search_p {
    color: white;
   margin-right: 15px;
}
.search_avatar {
    border-radius: 40px;
    margin-right: 15px;
}
.search_nom {
    color: white;
    text-decoration: none;
}


/*PAGE ERREUR 404*/
.erreur_404{
    color: white;
    font-size: 5rem;
}
.page_erreur {
    list-style: none;
    color: white;
    text-align: center;
}
.page_erreur img{
    height: 400px;
}







/*responsive pour galaxy S9 et android 7.0*/
@media screen and (max-width : 360px) and ( max-height : 740px) {
    body {
    width: 360px;
    height: 740px;
    background-size: cover;
    background-attachment: scroll;
    height: 100%;
    width: 100%;
    margin : 0 auto;
    display: block;
    }
    header img {
    position: relative;
     height: 50px;
    }
    .creercompte {
        margin-top: 100px;
        font-size: 1rem;
    }
    nav {
    display: flex; 
    align-items: center;
    justify-content: center; 
}
    .connexion {
        height: 200px;
        width: 300px;
        display: flex;
        justify-content: center;
        margin-left: 30px;
        background-color: rgba(0,0,0,0.5);
        padding : 40px;
        border-radius: 5px;
        box-shadow: 0 0 10px #000;
       
    }
    .connexion p {
        padding: 00px 0px 10px 20px;
    }
    .champs {
        width: 250px;
        height: 25px;
        margin-left: 20px;
    }
    .valider{
        margin-left: 200px;
    }
    
    /*page creation de compte*/

    .creation_compte_seco{   
    margin-top: 20px;
    font-size: 1rem;
    margin-left:160px;
    }

    .creation_compte_seco a {
    color: white;  
    }
    .creation_compte{
   
    height: 300px;
    width: 300px;
    margin-left: 30px;
    }
    .creation_compte form {
        margin-left: 90px;
    }
    .creation_compte p {
    color: white;
    margin-bottom: 5px;
    font-size: 1rem;
    }
    .creation_compte input {
    font-size: 0.8rem;
    margin-bottom: 10px;
    }
    .champs_creation_compte{
    height: 25px;
    width: 250px;
    margin-bottom: 15px;
    }


    .valider_creation_compte {
    width: 60px;
    height: 33px;
    border: none;
    margin-left: 190px;
    }
    
    /*MUR*/
    .bonjour {
    top:60px;
    left: 140px;
    font-size: 1rem;
    }
    
    .fond_avatar{
        display: none;
    }
    .fond_avatar_responsive {
        display: block;
        position: absolute;
    }
    
    .deconnexion{
    bottom: 5px;
    left: 5px;
    }
    
    .img_avatar {
    position: absolute;
    height: 100px;
    border-radius: 50%; 
    left: 10px;
    top: 10px;
    background-color: white;
    }
    .crayon_avatar{
    height: 40px;
    top: 10px;
    left: 120px;
    }

    .profil_avatar{
    height: 40px; 
    top: 110px;
    left: 20px;
    }
    .profil_nom{
    top:125px;
    left: 60px;
    } 
    /*ELEMENTS COMPOSANT LE MUR*/

#mon_mur {
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    grid-template-areas: 
        "m1"
        "m2"
        "m4"
        "m3";
}
.invit {
    grid-area: m2;  
}

.invit_recues {
    grid-area: m4;
}

.vos_amis {
    grid-area: m1;
}

.amis_fleche {
    height: 50px;
  
}

}



footer{
   
}